[submodule "Algoritmos y Programación III [75.07]/algo3_tp2"]
	path = Algoritmos y Programación III [75.07]/algo3_tp2
	url = https://github.com/LordOfThePing/algo3_tp2.git
[submodule "22C2 Algoritmos y Programación III [75.07]/algo3_tp2"]
	path = 22C2 Algoritmos y Programación III [75.07]/algo3_tp2
	url = https://github.com/LordOfThePing/algo3_tp2.git
[submodule "21C1 Algoritmos y Programación III [75.07]/algo3_tp2"]
	path = 21C1 Algoritmos y Programación III [75.07]/algo3_tp2
	url = https://github.com/LordOfThePing/algo3_tp2.git
[submodule "22C1 Sistemas Operativos [75.08]/sisop_2022a_flynn"]
	path = 22C1 Sistemas Operativos [75.08]/sisop_2022a_flynn
	url = https://github.com/fiubatps/sisop_2022a_flynn
[submodule "22C1 Sistemas Operativos [75.08]/sisop_2022a_g20_flynn_katta"]
	path = 22C1 Sistemas Operativos [75.08]/sisop_2022a_g20_flynn_katta
	url = https://github.com/fiubatps/sisop_2022a_g20_flynn_katta
[submodule "22C1 Teoría de Lenguaje [75.31]/tdl-urlshort"]
	path = 22C1 Teoría de Lenguaje [75.31]/tdl-urlshort
	url = https://github.com/gabokatta/tdl-urlshort
[submodule "22C2 Taller de Programación I [75.42]/tp1taller"]
	path = 22C2 Taller de Programación I [75.42]/tp1taller
	url = https://github.com/LordOfThePing/tp1taller
[submodule "22C2 Taller de Programación I [75.42]/22C2-Subite-A-La-Papaneta"]
	path = 22C2 Taller de Programación I [75.42]/22C2-Subite-A-La-Papaneta
	url = https://github.com/LordOfThePing/22C2-Subite-A-La-Papaneta
[submodule "22C2 Arquitectura del Software [75.73]/2c22-tp-1-aquitectura"]
	path = 22C2 Arquitectura del Software [75.73]/2c22-tp-1-aquitectura
	url = https://github.com/LordOfThePing/2c22-tp-1-aquitectura
[submodule "22C2 Arquitectura del Software [75.73]/trabajo-practico-2-nonamegroup"]
	path = 22C2 Arquitectura del Software [75.73]/trabajo-practico-2-nonamegroup
	url = https://github.com/LordOfThePing/ASoft-trabajo-practico-2-nonamegroup
[submodule "23C1 Introducción a los Sistemas Distribuidos [75.43]/TP-distribuidos"]
	path = 23C1 Introducción a los Sistemas Distribuidos [75.43]/TP-distribuidos
	url = https://github.com/LordOfThePing/TP-distribuidos
[submodule "22C2 Base de Datos [75.15]/BDD2C2022"]
	path = 22C2 Base de Datos [75.15]/BDD2C2022
	url = https://github.com/LordOfThePing/BDD2C2022
[submodule "23C1 Teoría de Algoritmos I [75.29]/tda_chiquitapia"]
	path = 23C1 Teoría de Algoritmos I [75.29]/tda_chiquitapia
	url = https://github.com/LordOfThePing/tda_chiquitapia
[submodule "22C1 Probabilidad y Estadística B [61.09]/proba"]
	path = 22C1 Probabilidad y Estadística B [61.09]/proba
	url = https://github.com/LordOfThePing/proba
[submodule "24C1 Técnicas de Programación Concurrente I [75.59]/2024-1c-tp1-LordOfThePing"]
	path = 24C1 Técnicas de Programación Concurrente I [75.59]/2024-1c-tp1-LordOfThePing
	url = https://github.com/concurrentes-fiuba/2024-1c-tp1-LordOfThePing
[submodule "24C1 Técnicas de Programación Concurrente I [75.59]/2024-1c-tp2-concurrustence"]
	path = 24C1 Técnicas de Programación Concurrente I [75.59]/2024-1c-tp2-concurrustence
	url = https://github.com/concurrentes-fiuba/2024-1c-tp2-concurrustence
[submodule "24 Trabajo Final Integrador [TIF]/pylab"]
	path = 24 Trabajo Final Integrador [TIF]/pylab
	url = https://github.com/fiuba-pylab/pylab
[submodule "24C2 Taller de Seguridad Informática [TDSINF]/2024-G06"]
	path = 24C2 Taller de Seguridad Informática [TDSINF]/2024-G06
	url = https://github.com/Seguridad-Informatica-FIUBA/2024-G06
[submodule "24C1 Gestión del Desarrollo de Sistemas Informáticos [GDSI]/Backend"]
	path = 24C1 Gestión del Desarrollo de Sistemas Informáticos [GDSI]/Backend
	url = https://github.com/Gestion-2024-G20/Backend
[submodule "24C1 Gestión del Desarrollo de Sistemas Informáticos [GDSI]/Frontend"]
	path = 24C1 Gestión del Desarrollo de Sistemas Informáticos [GDSI]/Frontend
	url = https://github.com/Gestion-2024-G20/Frontend
